@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* My solution*/

body {
  display: flex;
  flex-direction: column;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input {
  margin-top: 10px;
}

button {
  margin-top: 22px;
  padding: 8px 16px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer {
  background: rgb(238, 236, 236);
}

a {
  color: #6d6a6a;
  text-decoration: none;
}